<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Promedio lista</title>
</head>
<body>
    <h1>Calcular promedio de lista</h1>
    <p>Este programa calculará el promedio de una lista de números que usted ingrese. La lista parará de crecer cuando escriba un número negativo.
        Oprima el botón con el nombre de la estructura que desea utilizar para calcular el promedio.</p>
    <button onclick="forStructure()">Estructura For</button>
    <button onclick="whileStructure()">Estructura While</button>
    <button onclick="ifStructure()">Estructura If</button>

    <script src="../static/js/myScript.js"></script>
</body>
</html>