/Java/NetBeansProjects/POO_00/nbproject/private/
/Java/NetBeansProjects/POO_00/build/
/Java/NetBeansProjects/Guía08/Ejercicio01/nbproject/private/
/Java/NetBeansProjects/Guía08/Ejercicio01/build/
/Java/NetBeansProjects/Guía08/Ejercicio02/nbproject/private/
/Java/NetBeansProjects/Guía08/Ejercicio02/build/